@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column">
    <div class="w-100 d-flex justify-content-around bg-danger">
        <div>
            box1
        </div>
        <div>
            box2
        </div>
    </div>
</div>