@{
    ViewData["Title"] = "Sobre o Projeto";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p>Aplicação criada com objetivo de ser algo simples e ao mesmo tempo ser um desafio para eu poder aprender uma tecnologia que nesse caso foi o node
    para criar a API responsável pelo back-end e usando o banco de dados PostgreSQL que também foi a primeira vez utilizando.
</p>
<h4 class="text-center">Tecnologias e Skills Utilizadas</h4>
<ul>
    <li>Clean Code</li>
    <li>.NET</li>
    <li>Node.js</li>
    <li>PostgreSQL</li>
    <li>Layered Architecture</li>
</ul>
